<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_header">

</head>
<body>
    <div th:replace="fragments :: menu"></div>
      <div class="container-fluid">
          <div class="row">
              <div class="col">
                  <div class="jumbotron text-center">
                     <h2>Spring boot and Spring MVC</h2>
                     <a href="#" class="btn btn-success">Spring Framework</a>
                     <br>
                     <h3>Spring Boot</h3>
                  </div>
              </div>
          </div>
      </div>
    <div th:replace="fragments :: footer"></div>
</body>
</html>